<html>
  <head></head>
  	<style> 
  	body{
  		color: white;
  		background-color: black;
  	}
  	#winner{
  		color: blue;
  	}
  	#secret-number{
  		font-weight: bold;
  		text-decoration: underline;
  		color: white;
  	}
  	#wth{
  		color: red;
  	}
  	#wtl{
  		color: green;
  	}
  	#too-high{
  		color: purple;
  	}
  	#too-low{
  		color: teal;
  	}
  	</style>
  <body>
    <p>
    <%= message %>
    </p>
    <form>
 		 <input type='text' name='guess' />
  		 <input type='submit' value='Guess!' />
	</form>
  </body>
</html>